.ApplicationInfo__Container {
  display: flex;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  border-bottom: 0.5px #4d4d4d solid;
  height: 30px;
}
.ApplicationInfo {
  width: 100%;
  margin-top: 20px;
}
