* {
  margin: 0;
  padding: 0;
}
main {
  background-color: white;
}
.Container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .Container {
    max-width: 780px;
  }
}
@media (max-width: 768px) {
  .Container {
    max-width: 480px;
  }
}
@media (max-width: 480px) {
  .Container {
    max-width: none;
  }
}
